:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 17, 17;
  --background-end-rgb: 17, 17, 17;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111;
  font-family: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}